@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,
:after,
:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

body,
html {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #2f243a;
    color: #f9f9f9;
    font-family: "Roboto Slab";
    font-size: 18px;
    line-height: 1.5;
    width: 100%
}

a {
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0
}

strong {
    font-weight: 700;
    color: inherit
}

.boxed {
    background: #ffffff;
    color: #2f243a;
    padding: 1px 4px
}

section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 100px 170px
}

@media screen and (max-width:1280px) {
    section {
        padding: 100px
    }
}

@media screen and (max-width:1024px) {
    section {
        padding: 50px
    }
}

@media screen and (max-width:768px) {
    section {
        display: block
    }
}

@media screen and (max-width:480px) {
    section {
        padding: 50px 35px
    }
}

.section_title {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 200px;
    margin-right: 70px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: right;
    font-weight: 700;
    letter-spacing: 2px
}

@media screen and (max-width:1024px) {
    .section_title {
        margin-right: 50px
    }
}

@media screen and (max-width:850px) {
    .section_title {
        width: 150px
    }
}

@media screen and (max-width:768px) {
    .section_title {
        text-align: left;
        width: auto
    }
}

.section_container {
    font-weight: 300;
    font-size: 1rem;
    width: 100%;
    max-width: 650px
}

@media screen and (max-width:768px) {
    .section_container {
        padding-top: 30px;
        padding-left: 50px
    }
}

@media screen and (max-width:480px) {
    .section_container {
        padding-left: 30px
    }
}

.section_container p {
    margin-top: 0;
    margin-bottom: 25px
}

.about {
    padding: 120px 100px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto
}

@media screen and (max-width:630px) {
    .about {
        padding: 120px 70px
    }
}

@media screen and (max-width:550px) {
    .about {
        padding: 120px 50px
    }
}

@media screen and (max-width:480px) {
    .about {
        padding: 70px 50px
    }
}

.bio {
    font-size: 2.5rem
}

@media screen and (max-width:1024px) {
    .bio {
        font-size: 2.25rem
    }
}

@media screen and (max-width:768px) {
    .bio {
        font-size: 2rem
    }
}

@media screen and (max-width:550px) {
    .bio {
        font-size: 1.75rem
    }
}

@media screen and (max-width:360px) {
    .bio {
        font-size: 1.5rem
    }
}

@media screen and (max-width:330px) {
    .bio {
        font-size: 1.4rem
    }
}

.bio {
    font-weight: 300;
    max-width: 900px
}

.contact {
    font-size: 1.25rem;
    font-weight: 400
}

@media screen and (max-width:550px) {
    .contact {
        font-size: 1rem
    }
}

.skills_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media screen and (max-width:630px) {
    .skills_container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

@media screen and (max-width:630px) {
    .skills .skills_group {
        width: 47%;
        margin-right: 5px;
        margin-bottom: 25px
    }
}

.skills .skill {
    margin: 3px 0;
    font-size: .9rem
}

.events .jobs {
    margin-bottom: 100px
}

.events .job {
    margin-bottom: 45px
}

.events .job .time-place {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media screen and (max-width:480px) {
    .events .job .time-place {
        display: block
    }
}

.institution {
    font-size: 1.2rem;
    font-weight: 500;
}

.events .date {
    font-size: .9rem;
    font-family: "Roboto Slab", monospace
}

@media screen and (max-width:480px) {
    .events .date {
        font-size: .8rem
    }
}

.stories .story {
    max-width: 600px;
    margin-bottom: 50px
}

.stories .story_title {
    margin-bottom: 10px;
    text-decoration: underline;
}

.stories .story p {
    font-size: .9rem;
    margin-bottom: 20px
}

.stories {
    margin-left: 0
}

.footer {
    padding: 50px 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media screen and (max-width:1024px) {
    .footer {
        padding: 50px
    }
}

@media screen and (max-width:630px) {
    .footer {
        display: block
    }
}

@media screen and (max-width:480px) {
    .footer {
        padding: 50px 30px
    }
}

@media screen and (max-width:630px) {
    .footer__links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.footer__links a {
    position: relative;
    display: inline-block;
    color: #ffffff!important;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 15px;
    outline: 0
}

@media screen and (max-width:1024px) {
    .footer__links a {
        margin: 0 10px
    }
}

.read-more link {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: 700;
    display: inline-block;
    background-color: transparent;
    white-space: nowrap
}

.read-more:after {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: relative;
    bottom: 2px;
    margin-left: 15px;
    content: '';
    background: url(arrow.png) no-repeat center;
    background-size: 100%;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle
}

.read-more:hover:after {
    -webkit-transform: translateX(7px);
    transform: translateX(7px)
}